<d-layout>
  <d-aside><!--左边的抽屉式导航栏-->
    <d-accordion [data]="menu" class="menu" [linkType]="'routerLink'"></d-accordion>
  </d-aside>
  <d-content>
    <!-- <d-breadcrumb>
          <d-breadcrumb-item>
            <span>DevUI</span>
          </d-breadcrumb-item>
          <d-breadcrumb-item>
            <span>面包屑</span>
          </d-breadcrumb-item>
        </d-breadcrumb>  -->
    <div class="inner-content">
      <router-outlet></router-outlet>
      <!--导航出口-->
      <!--app-mine-sweeping></app-mine-sweeping>-->
    </div>
  </d-content>
</d-layout>