<!-- 扫雷百度百科-->
<h2>扫雷 （1992年发布的小游戏） </h2>
<p>《扫雷》是一款大众类的益智小游戏，于1992年发行。
    游戏目标是在最短的时间内根据点击格子出现的数字找出所有非雷格子，
    同时避免踩雷，踩到一个雷即全盘皆输。</p>
<h3>游戏设定</h3>
<h4>背景</h4>
扫雷在科技历史上也扮演了相似的角色。这个基于数字的逻辑谜题最早来自20世纪六七十年代，当时Jerimac
Ratliff推出的名为“Cube”的游戏已经非常受人欢迎。几十年后的1992年，扫雷游戏被加入了Windows3.1，这并不是为了展示Windows是游戏操作系统专家，而是为了训练用户的鼠标左右键操作能力，让这些动作变得非常自然，并培养鼠标移动的速度和准确性。
<h4>起源</h4>
<p>
    扫雷最原始的版本可以追溯到1973年一款名为“方块”的游戏。
</p>
<p>
    不久，“方块”被改写成了游戏“Rlogic”。在“Rlogic”里，玩家的任务是作为美国海军陆战队队员，为指挥中心探出一条没有地雷的安全路线，如果路全被地雷堵死就算输。两年后，汤姆·安德森在“Rlogic”的基础上又编写出了游戏“地雷”，由此奠定了现代扫雷游戏的雏形。
</p>
<p>
    1981年，微软公司的罗伯特·杜尔和卡特·约翰逊两位工程师在Windows3.1系统上加载了该游戏，扫雷游戏才正式在全世界推广开来。
</p>　　
<p>
    这款游戏的玩法是在一个9*9(初级)，16*16(中级)，16*30(高级)，或自定义大小的方块矩阵中随机布置一定量的地雷(初级为10个，中级为40个，高级为99个)。由玩家逐个翻开方块，以找出所有地雷为最终游戏目标。如果玩家翻开的方块有地雷，则游戏结束。
   
</p> <h3>模式设定</h3>
<p>
    以windowsXP自带扫雷winmine.exe为例（其它版本的扫雷游戏与之大同小异）。
    游戏区包括雷区、地雷计数器（位于左上角，记录剩余地雷数）和计时器（位于右上角，记录游戏时间），
    确定大小的矩形雷区中随机布置一定数量的地雷(初级为9*9个方块10个雷，中级为16*16个方块40个雷，高级为16*30个方块99个雷，
    自定义级别可以自己设定雷区大小和雷数，但是雷区大小不能超过24*30)，
    玩家需要尽快找出雷区中的所有不是地雷的方块，而不许踩到地雷。
</p>
<p>
    游戏的基本操作包括左键单击（Left Click）、右键单击（RightClick）、双击（Chording）三种。
    其中左键用于打开安全的格子，推进游戏进度；右键用于标记地雷，以辅助判断，或为接下来的双击做准备；
    双击在一个数字周围的地雷标记完时，相当于对数字周围未打开的方块均进行一次左键单击操作：</p>
    <h4>左键单击：</h4>在判断出不是雷的方块上按下左键，可以打开该方块。如果方块上出现数字，则该数字表示其周围3×3区域中的地雷数（一般为8个格子，对于边块为5个格子，对于角块为3个格子。所以扫雷中最大的数字为8）；如果方块上为空（相当于0），则可以递归地打开与空相邻的方块；如果不幸触雷，则游戏结束。<br>
    <h4>右键单击：</h4>在判断为地雷的方块上按下右键，可以标记地雷（显示为小红旗）。重复一次或两次操作可取消标记（如果在游戏菜单中勾选了“标记(?)”，则需要两次操作来取消标雷）。<br>
    <h4>双击：</h4>同时按下左键和右键完成双击。当双击位置周围已标记雷数等于该位置数字时操作有效，相当于对该数字周围未打开的方块均进行一次左键单击操作。地雷未标记完全时使用双击无效。若数字周围有标错的地雷，则游戏结束，标错的地雷上会显示一个“
    ×”<br>
