@import "~ng-devui/styles-var/devui-var.scss";

d-content {
  padding: 0 40px;
  background-color: $devui-global-bg;

  d-breadcrumb {
    margin-top: 8px;
  }

  .inner-content {
    background-color: $devui-base-bg;
    padding: 16px;
    height: 100%;
  }
}

.input-number {
  margin-right: 10px;
}

.single-checkbox {
  display: inline-block;
  margin-right: 4px;
}

:host ::ng-deep .devui-radio-horizontal d-radio {
  display: inline-block;
}

form {
  width: 500px;
  margin: 0 auto;
}

.text {
  display: inline-block;
  vertical-align: top;
}

table {
  margin: 0 auto;
}

