<!--

<d-footer>
  <table>
    <tr>
      <th>
        <d-status type="success">链接</d-status>
      </th>
      <th>
        <d-status type="running">其他</d-status>
      </th>
    </tr>
    <tr>
      <td>
        <d-button bsStyle="common" circled="true" dSimulateATag [href]="'https://angular.io'" [target]="'_blank'">
          angular官网
        </d-button>
      </td>
    </tr>
    <tr>
      <td>
        <d-button bsStyle="common" circled="true" dSimulateATag [href]="'https://www.baidu.com'" [target]="'_blank'">
          baidu官网
        </d-button>
      </td>
    </tr>
  </table>
</d-footer>
-->

<div class="devui-home-foot">
  
</div>